# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
.idea/
out/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
android/app/google-services.json

# Android - Gradle
.gradle/
android/.gradle/
android/app/build/
android/build/

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Podfile.lock
ios/Pods/
ios/Runner/GoogleService-Info.plist
ios/Runner.xcworkspace/
ios/derived_data/

# Web
lib/generated_plugin_registrant.dart

# Firebase & Secrets
firebase_options.dart
lib/firebase_options.dart
